.alertbox {
  /* position: absolute;  */
  height: 30px;
  width: 100%;
  padding-top: 8px;
}
.alert {
  margin: 0px 60px 0px;
  padding: 8px 4px;
  border-radius: 6px;
  background-color: #f44336;
  color: white;
  text-align: center;
}

.closebtn {
  margin-right: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.alert i {
  color: black;
}

/* for dark mode on devices */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .alert {
    background-color: rgba(77, 29, 29, 0.25);
    box-shadow: -2px 6px 10px -6px rgba(0, 0, 0, 0.95);
    color: #ff0000;
  }
  .closebtn {
    color: #c0bcbc;
  }
  .closebtn:hover {
    color: red;
  }
}
