footer {
  padding: 36px 0px 16px 0px;
}
.container3 {
  display: block;
  justify-content: center;
  width: 100%;

}

.foot2 {
  padding-top: 10px;

  text-align: center;
}
.hehe {
  max-width: 100%;
  padding: 0 12px;
  text-align: center;
}
