.editBox {
  display: none;
  position: fixed;
  z-index: 30;
  padding: 120px 10px 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.box-content {
  background-color: rgb(36, 37, 38);
  margin: auto;
  padding: 20px;
  border-radius: 9px;
  border: 1px solid rgba(187, 134, 252, 0.6);
  width: 520px;
  height: 420px;
}
.box-content .head {
  color: #bb86fc;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
#boxClose {
  float: right;
  margin: -15px;
  user-select: none;
  background-color: #eee7e7;
  padding: 1px 8px;
  cursor: pointer;
  color: #bb86fc;
  font-size: 28px;
  border-radius: 50%;
}

.box-content form > div {
  padding: 12px 6px 8px 0;
  margin-bottom: 65px;
}
.image-select {
  text-align: center;
  background-color: #bb86fc;
  padding: 6px;
  border-radius: 4px;
  color: black;
  width: 100%;
}
.image-select label {
  cursor: pointer;
  text-align: center;
}

#fileInput {
  display: none;
}
#imagePreview {
  margin: 12px auto;
  width: 200px;
  border-radius: 50%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ddd;
}

.img-action{
    float: right;
}
.img-action > div{
    border: none;
    outline: none;
    background-color: transparent;
}