html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: rgb(100 116 139); */
}
/* change color in user select */
*::selection {
  background: rgb(187 134 252/ 0.6);
  color: white;
}
*::-webkit-selection {
  background: rgb(187 134 252/ 0.6);
  color: white;
}
*::-moz-selection {
  background: rgb(187 134 252/ 0.6);
  color: white;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #cde0e2;
  border-radius: 20px;
  border: 1px solid rgb(0 0 0 /0.2);
}
body {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.6);
}

.main {
  margin-top: 69px;
  height: 100%;
  padding-bottom: 24px;
}
.cnt1 {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}
.testing {
  position: absolute;
  right: 36px;
  z-index: 1;
  background-color: transparent;
  margin-top: 8px;
}

.testing-1 {
  display: flex;
}
.list {
  display: flex;
  margin: 0 6px;
  cursor: pointer;
}
.logout a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}


.cnt3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: none;
  padding: 16px;
  margin: 0 24px 0 24px;
  overflow: hidden;
  word-break: break-all;
  border: 0px;
  border-radius: 16px;
  background-color: rgb(0 0 0/0.3);
  background-clip: border-box;
  backdrop-filter: blur(64px);
  backdrop-filter: saturate(2);
}
.blurp {
  display: flex;
}
.profilePic {
  flex: none;
  width: auto;
  max-width: 100%;
  padding: 0 12px;
}
.profilePic > div {
  /* height: px; */
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.editIcon{
  background-color: #121212;
  padding: 4px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: -8px;
  z-index: 1;
}
.editIcon:hover{
  transition: 0.2s ease-in-out;
  background-color: rgb(18 18 18/0.6);
  color: #bb86fc;

}
.profilePic img {
  height: 86px;
  width: 86px;
  border-radius: 50%;
}
.profInfo {
  flex: none;
  width: auto;
  max-width: 100%;
  padding: 0 12px;
}
.profilePic > div {
  height: 100%;
}
.social_profile {
  font-size: 18px;
  padding: 2px 8px;
}
.icons {
  margin: 6px 2px;
  cursor: pointer;
}
.social_fb a {
  color: #1877f2;
}
.social_ig a {
  color: #fe0961;
}
.social_twt a {
  color: #1a8cd8;
}
.cnt4 h5 {
  text-align: center;
  padding-top: 24px;
  font-size: 22px;
  color: white;
  font-family: sans-serif;
  margin-bottom: 4px;
  line-height: 1.5;
}

section {
  margin-top: 10px;
  border-radius: 24px;
  padding: 24px;
}
header {
  padding: 3px 54px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  font-size: 22px;
}
/* posts */

.authPosts {
  word-break: break-all;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 24px;
}
.mainCnt1 {
  margin: 10px;
  width: 400px;
  background-color: rgb(36, 37, 38);
  border-radius: 6px;
  padding: 24px;
  margin-top: 36px;
}
.author {
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  cursor: default;
  font-weight: 600;
}
hr {
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid purple;
}

.title {
  font-size: 18px;
  padding: 4px 3px;
}
.mainDet {
  font-size: 17px;
  padding: 4px 3px;
  text-align: justify;
}


.form-content input[type="file"]{
  background-color: blue;
  border: none;
  color: white;
}

/* for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 30;
  padding: 170px 10px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content .head {
  color: #bb86fc;
  user-select: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-bottom: 6px;
}

/* Modal Content */
.modal-content {
  background-color: rgb(36, 37, 38);
  margin: auto;
  padding: 20px;
  border-radius: 9px;
  border: 1px solid rgb(255 255 255 / 0.4);
  width: 520px;
  height: 350px;
  /* width: 80%; */
}
.modal-content form > div {
  padding: 12px 6px 8px 0;
  width: 100%;
}
.modal-content ::placeholder {
  font-family: cursive;
  color: #fff;
}
.form-content input {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color: #000;
  font-weight: 400;
  color: #fff;
  width: 100%;
  outline: none;
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 9px;
  padding: 8px 14px;
}
.form-content input:active,
.form-content input:focus {
  border: 1px solid #bb86fc;
}
.form-error {
  text-align: center;
  color: #bb86fc;
  height: 13px;
  user-select: none;
}
.modal-content .subBtn {
  cursor: pointer;
  background-color: rgb(0, 102, 255);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  float: right;
  margin-right: 6px;
  user-select: none;
}
.subBtn:hover {
  transition: 0.3s ease-in-out;
  color: #5d457b;
  background-color: #bb86fc;
}

/* The Close Button */
.close {
  user-select: none;
  color: #aaaaaa;
  float: right;
  margin-top: -15px;
  border-radius: 1px solid white;
  padding: 0 8px;
  background-color: #eee7e7;
  border-radius: 16px;
  font-size: 28px;
  font-weight: bold;
}
.form-content ::placeholder {
  color: rebeccapurple;
}
.close:hover,
.close:focus {
  transition: 0.3s ease-in;
  color: #bb86fc;
  background-color: #5d457b;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 640px) {
  .social_profile {
    display: flex;
    justify-content: space-around;
    line-height: normal;
  }
  .icons {
    margin: 0 3px;
  }
  .list > span {
    display: none;
  }
  
  .profilePic img {
    height: 56px;
    width: 56px;
  }
  .cnt3 {
    margin-top: -26px;
  }
  .cnt4 h5 {
    font-size: 18px;
    line-height: normal;
  }
  .modal-content {
    width: 100%;
  }
  .drop-box hr{
    margin:12px 0 8px ;
  }
}
